.row-form{
  margin-top: 20px;
}

.btn{
  margin-left: 10px;
  margin-right: 10px;

}

.centrado{
  align-items: center;
  justify-content: center;
}

.padre {
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo {
  width: auto;
}