.btn{
    margin-left: 10px;
    margin-right: 10px;


}

.margen{
    margin-top: 20px;
}   

.padre {
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hijo {
    width: auto;
  }